h1{
    margin-top: 25px;
    font-family: bebas neue;
    color: rgb(199, 59, 24);
    background: rgb(0, 0, 0) ;
    }
body {
    margin: 0 ;
    padding: 0 ;
    background: rgb(224, 191, 171);
    /*
    display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}
    
    p{
       font-family: antonio;
       font-style: inherit;
       font-weight: bold;
    color: rgba(34, 18, 4, 0.767);
       font-size: 20px; 
        }

    hr{
        background: white;}

    img{
        height: 100px;
        width: 450px;
        }
       
    
    
